
//import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


//variables for fonts:
$font-primary:'poppins', sans-serif;
$font-title:'montserrat', sans-serif;

//colors
$color-primary:#F38160;

//text colors
$color-text-prmary:#949494;
$color-text-navbar:#403C39;
$color-button-text:#F38160;