@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

// Set box-sizing to border-box for all elements
*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    background-color: #2B2D38;
}

.container {
    width: 100%;
    max-width: 1920px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 100px;
    padding-right: 100px;

}

