@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


//navabar sytles

header {
    display: flex;
    align-content: center;
    justify-content: space-between;
    padding-bottom: 40px;

    .logo {
    
        img {
            width: 194px;
            height: 54px;
            margin: 0;
            padding: 0;
        }
    }

    .nav__menu {
        display: flex;
        list-style: none;
        gap: 56px;
        margin: 0;
        padding: 0;
        padding-top: 16px;
        margin-left: 5%;

        
     

        li {
            margin: 0;
            padding: 0;

            a {
                text-decoration: none;
                font-family: $font-primary;
                font-size: 18px;
                color:$color-text-navbar;

                &:hover {
                    color: $color-primary;
                    padding-bottom: 7px;
                    border-bottom: 3px solid $color-primary;
                }
            }
            
        }
    }

    .login {
        display: flex;


        ul {
            display: flex;
            list-style: none;
            padding: 0;
            margin: 0;
            align-items: center;
            gap: 56px;

            li {
                margin: 0;
                padding: 0;
                

                a.btn1 {
                   color: $color-button-text;
                   font-size: 18px;
                   font-family: $font-primary;
                   font-weight: 400; 
                }

                a.btn2 {
                    @include btn-style;
                    font-size: 18px;
                    font-weight: 400;
                }
            }


        }

    }



}
