
@import url('https://fonts.googleapis.com/css2?family=Belgrano&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');

// fonts
$font-primary: "Poppins", sans-serif;
$font-title: "Belgrano", serif;

//colors
$black:#2E2F38;
$second-color:#FA504D;