@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;


.hero {
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
    max-width: 100%;
    position: relative;

    &::before {
        content: "";
        width: 1200px;
        height: 980px;
        position: absolute;
        background-image:url('/icons/woman2.svg');
        background-size: cover;
        left:20%;
        top: -150px;

        pointer-events: none; // para que el elemento realmente no tenga interaccion con el resto de la pagina
        
    }


    .hero__content {
        max-width: 40%;
        padding-bottom: 56px;

        h1 {
          font-family: $font-primary;
          font-size:64px;
          color:$color-text-primary;
          font-weight: 700;
          line-height: 80px;
          margin-bottom: 0;
          padding-bottom: 32px;  
        }

        p {
            width: 748px;
            font-family: $font-primary;
            font-size: 24px;
            font-weight: 400;
            line-height: 40px;
            color:$color-description-text;
            margin-top: 0;
        }

    }
    
    .buttons {
        display: flex;
        gap: 32px;
        align-items: center;
        padding-bottom: 60px;

        .btn1 {
            @include btn-style;
            font-size: 18px;
        }

        .btn2 {
            display: inline-flex;
            justify-content: center;
            gap: 16px;
            text-decoration: none;
            font-size: 18px;
            color: $color-text-primary;
            position: relative;

            img {
                width: 24px;
                height: 24px;

            }
            
            &::after {
                content: "";
                background-color: white;
                width: 48px;
                height: 48px;
                position: absolute;
                border-radius: 32px;
                z-index: -1;
                top: -11px;
                left: -14px;
       

            }
        }

        
        
    }
}


.services {
    display: inline-flex;
    gap: 72px;
    align-items: center;;
    width: 600px;
    padding: 32px;
    background-color: white;
    


    .type_services {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;

        .item__services {
            width: 56px;
            height: 56px;
            background-color: #A9D6CB;
            border-radius: 26px;
            padding: 5px;
            margin-bottom: 24px;
           
        }

        h3 {

            font-size: 36px;
            font-weight: 500;
            color: $color-text-primary;
            margin: 0;
            padding: 0;
            margin-bottom: 16px;
        }

        p {
            text-align: center;
            font-size: 18px;
            font-weight: 400;
            color: #909090;
            padding: 0;
            margin:0;
        }
    }

}


.comment1 {
    max-width: 405px;
    position: relative;
    left: 75%;
    top: -580px;
    padding: 22px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(8px);

    p {
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: $font-primary;
        font-size: 18px;
    
    }

    .author{
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 700;
        color: $color-text-primary;
    }
}



.comment2 {
    max-width: 405px;
    position: relative;
    left: 65%;
    top: -520px;
    padding: 24px;
    border-radius: 16px;
    background: rgba(255, 255, 255, 0.50);
    backdrop-filter: blur(8px);

    p {
        margin-top: 8px;
        margin-bottom: 8px;
        font-family: $font-primary;
        font-size: 18px;
    
    }

    .author{
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 700;
        color: $color-text-primary;
    }
}



