
//import fonts
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,300&display=swap');


//variables for fonts:
$font-primary:'poppins', sans-serif;


// color buttons
$color-btn: #264065;

//colors


//text colors
$color-text-primary: #264065;
$black: black;
$color-description-text: gray;