// Set box-sizing to border-box for all elements

*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
}

.container {
    padding-top: 20px;
    min-width: 1920px;
    max-width: 2560px;
    margin-left: auto;
    margin-right: auto;
    
}