@use '../abstracts/variables' as *;
@use '../abstracts/mixins' as *;

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 24px;
    padding-bottom: 24px;



    .nav__bar {

        .menu {
            @include list;
            gap: 56px;

            li {
                margin: 0;
                padding: 0;


                a {
                    text-decoration: none;
                    color: $color-text-primary;
                    font-size: 18px;
                }

                &:last-child{
                    position: relative;
                    a {
                       position: relative;

                       &::after {
                           content:"";
                           background-image: url(/icons/chevron-down.svg);
                           background-size: contain;
                           background-repeat: no-repeat;
                           width: 20px;
                           height: 20px;
                           position: absolute;
                           top: 50%;
                           transform: translateY(-50%);
                            right: -20px;     
                        }

                    }
                    .submenu {
                        z-index: 5;
                        opacity: 0;
                        visibility: hidden;
                        transition: opacity 0.3s ease;
                        transform: translateY(10px);
                        position: absolute;
                        margin:0;
                        padding: 0;
                        top:100%;
                        left:2%;
                        background: rgba(255, 255, 255, 0.50);
                        backdrop-filter: blur(8px);
                        box-shadow: 0px 10px 25px rgba(0,0,0,0.1);
                        list-style: none;
                        text-align: left;
                        min-width: 160px;

                        li {
                            padding: 0;
                            margin: 0;
                            width: 100%;
                    

                            a{
                                display: block;
                                padding: 15px 20px;
                                text-decoration: none;
                                color: $color-text-primary;
                                font-size: 18px;
                                
                                &::after {
                                    display: none;
                                }

                                &:hover {
                                    background: rgba(255, 255, 255, 0.50);
                                    backdrop-filter: blur(8px);
                                    color:$color-text-primary;
                                }

                            }
                        } 
                        
                    }

                    &:hover {
                        .submenu{
                         opacity: 1;
                         visibility: visible;
                         transform: translateY(0); 
                        }
                        
                    }

                }
            }
        }   
    }

    .login {
        margin-right: 7%;
        ul.menu_login {
            @include list;
            gap: 32px;

            li {
                margin:0;
                padding:0;

                a {
                    text-decoration: none;
                    color:$color-text-primary;
                    font-size: 18px;

                }

                .link_active {
                    text-decoration: underline;
                    font-weight: 400;
                }
                
                a.cart {
                    padding-right: 74px;
                }

                .login_btn {
                    @include btn-style;
                    
                }
               
            }
        }
    }
}