@use '../abstracts/variables' as *;

// Set box-sizing to border-box for all elements
*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    background-color:#FAF8F5;
    overflow-x: hidden;;
    margin-left: auto;
    margin-right: auto;
}

.container {
    width: 100%;
    max-width: 1580px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 30px;
    padding-right: 30px;
    position: relative;
    


    &::before {
        content:"";
        width: 45%;
        height: 50%;
        background-color: #A9D6CB;
        position: absolute;
        top:0;
        right: -140px;
        z-index: -1;
    }
}

