@use '../abstracts/variables' as *;

// Set box-sizing to border-box for all elements
*, *::before, *::after {
    box-sizing: border-box;
}


body {
    margin: 0;
    padding: 0;
    font-family: $font-primary;
    background-color:#FAF8F5 ;
    overflow-x: hidden;
}

.container {
    max-width: 1920px;
    margin: 0;
    padding: 0;
    margin-left: auto;
    margin-right: auto;
    padding-left: 32px;
    padding-right: 32px;
    position: relative;


    &::before {
        content:"";
        width: 32%;
        height: 50%;
        background-color: #A9D6CB;
        position: absolute;
        top:0;
        right: 0;
        z-index: -1;
    }
}

