@use '../abstracts/variables' as *;

section.hero {
    display: flex;
    justify-content: end;
    background-image: url(../src/img/hero_image2x.jpg);
    background-repeat: no-repeat;
    background-size: 60%;
    padding-top: 60px;
    padding-bottom: 15px ;
    margin-bottom: 100px;

}

.hero_content {
    width: 45%;
    box-sizing: border-box;
}


.hero__title {
    background: rgba(255, 255, 255, 0.70);
    backdrop-filter: blur(8px);
    margin-bottom: 35px;
    padding: 35px;

    h1 {
        font-family: $font-title;
        font-size: 56px;
        line-height: 60px;
        max-width: 500px;
        margin: 0;
        position: relative;

        &::before {
            content: '';
            height: 8px;
            width: 72px;
            position: absolute;
            background-color: $brown;
            right: -20px;
            top: 24px;
        }
    }

    p {
        font-family: $font-primary;
        font-size: 24px;
        font-weight: 300;
        max-width: 710px;
        color: $brown;
        
    }
}

.confort {
  

    ul {
      margin: 0;
      padding: 0;
      list-style: none;
      margin-left: auto;
      width: 60%;
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: 1fr 1fr;
      gap: 10px;

      li {
        font-family: $font-primary;
        font-size: 18px;
        font-weight: 300;
        background-image: url(../src/icons/Check.svg);
        background-repeat: no-repeat;
        background-size: 20px;
        background-position: left center;
        padding-left: 30px;
      }
    }
}


.info {
    display: flex;
    justify-content: center;
    gap: 224px;

    img {
      width: 60px;
      margin-bottom: 10px;  
    }

    h3 {
        margin: 0;
        font-size: 24px;
        font-family: $font-primary;
        margin-bottom: 10px;
    }

    p {
       font-family: $font-primary;
       font-size: 18px;
       font-weight: 400;
       color: $brown;
       width: 320px; 
       margin: 0;
    }

}