@use '../abstracts/variables' as *;

header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items:center;
    margin-bottom: 20px;
    padding-top: 30px;
    padding-bottom: 30px;


    .menu {
        


        ul{
            padding: 0;
            margin: 0;
            list-style: none;
            display: flex;
            gap:56px;

            a {
                color:$black;
                font-family: $font-primary;
                
                &.active {
                    color: $brown;
                }

                &:hover {
                    color: $brown;
                }
            }
        }
    }


    aside {
        ul {
            margin: 0;
            padding: 0;
            list-style: none;
            display: flex;
            align-items: center;
            gap: 56px;

            a {
                

                &.btn1 {
                    font-family: $font-login;
                    font-weight: 400;
                    color: $brown;
                    text-decoration: underline;
                }

                &.btn2 {
                    display: inline-block;
                    background-color: $brown;
                    font-family: $font-primary;
                    padding: 12px 30px;
                    color: white;
                    font-weight: 400;

                    &:hover {
                        background-color: $black;
                        transition: all 1s ease;
                    }
                }
            }

            
        }
    }
}